services:
  ollama:
    image: ${OLLAMA_IMAGE:-ollama/ollama:rocm}
    devices:
      - /dev/kfd:/dev/kfd
      - /dev/dri:/dev/dri
    group_add:
      - video
      - render
    security_opt:
      - seccomp=unconfined
    cap_add:
      - SYS_PTRACE
    environment:
      HSA_OVERRIDE_GFX_VERSION: "${HSA_OVERRIDE_GFX_VERSION:-}"
      ROCR_VISIBLE_DEVICES: "${ROCR_VISIBLE_DEVICES:-}"
